.bg-page{
    // @apply bg-center bg-cover bg-fixed  bg-[url('../public/assests/images/profile-bg.jpg')];

    @apply w-full min-h-screen bg-[#070606];

    // Add the animation properties to the class
    animation: gradientCycle 8s linear infinite;
}

@keyframes gradientCycle {
    0% {
        background-image: radial-gradient(circle 2000px at top center, #229933 5%, transparent 50%);
    }
    1% {
        background-image: radial-gradient(circle 1950px at top center, #229933 5.2%, transparent 50%);
    }
    2% {
        background-image: radial-gradient(circle 1900px at top center, #229933 5.4%, transparent 50%);
    }
    3% {
        background-image: radial-gradient(circle 1850px at top center, #229933 5.6%, transparent 50%);
    }
    4% {
        background-image: radial-gradient(circle 1800px at top center, #229933 5.8%, transparent 50%);
    }
    5% {
        background-image: radial-gradient(circle 1750px at top center, #229933 6%, transparent 50%);
    }
    6% {
        background-image: radial-gradient(circle 1700px at top center, #229933 6.2%, transparent 50%);
    }
    7% {
        background-image: radial-gradient(circle 1650px at top center, #229933 6.2%, transparent 50%);
    }
    8% {
        background-image: radial-gradient(circle 1600px at top center, #229933 6.6%, transparent 50%);
    }
    9% {
        background-image: radial-gradient(circle 1550px at top center, #229933 6.8%, transparent 50%);
    }
    10% {
        background-image: radial-gradient(circle 1500px at top center, #229933 7%, transparent 50%);
    }
    11% {
        background-image: radial-gradient(circle 1600px at top center, #229933 6.8%, transparent 50%);
    }
    12% {
        background-image: radial-gradient(circle 1650px at top center, #229933 6.6%, transparent 50%);
    }
    13% {
        background-image: radial-gradient(circle 1700px at top center, #229933 6.4%, transparent 50%);
    }
    14% {
        background-image: radial-gradient(circle 1750px at top center, #229933 6.2%, transparent 50%);
    }
    15% {
        background-image: radial-gradient(circle 1800px at top center, #229933 6%, transparent 50%);
    }
    16% {
        background-image: radial-gradient(circle 1850px at top center, #229933 5.8%, transparent 50%);
    }
    17% {
        background-image: radial-gradient(circle 1900px at top center, #229933 5.6%, transparent 50%);
    }
    18% {
        background-image: radial-gradient(circle 1950px at top center, #229933 5.4%, transparent 50%);
    }
    19% {
        background-image: radial-gradient(circle 2000px at top center, #229933 5.2%, transparent 50%);
    }

    20% {
        background-image: radial-gradient(circle 2000px at top center, #819922 5%, transparent 50%);
    }
    21% {
        background-image: radial-gradient(circle 1950px at top center, #819922 5.2%, transparent 50%);
    }
    22% {
        background-image: radial-gradient(circle 1900px at top center, #819922 5.4%, transparent 50%);
    }
    23% {
        background-image: radial-gradient(circle 1850px at top center, #819922 5.6%, transparent 50%);
    }
    24% {
        background-image: radial-gradient(circle 1800px at top center, #819922 5.8%, transparent 50%);
    }
    25% {
        background-image: radial-gradient(circle 1750px at top center, #819922 6%, transparent 50%);
    }
    26% {
        background-image: radial-gradient(circle 1700px at top center, #819922 6.2%, transparent 50%);
    }
    27% {
        background-image: radial-gradient(circle 1650px at top center, #819922 6.2%, transparent 50%);
    }
    28% {
        background-image: radial-gradient(circle 1600px at top center, #819922 6.6%, transparent 50%);
    }
    29% {
        background-image: radial-gradient(circle 1550px at top center, #819922 6.8%, transparent 50%);
    }
    30% {
        background-image: radial-gradient(circle 1500px at top center, #819922 7%, transparent 50%);
    }
    31% {
        background-image: radial-gradient(circle 1600px at top center, #819922 6.8%, transparent 50%);
    }
    32% {
        background-image: radial-gradient(circle 1650px at top center, #819922 6.6%, transparent 50%);
    }
    33% {
        background-image: radial-gradient(circle 1700px at top center, #819922 6.4%, transparent 50%);
    }
    34% {
        background-image: radial-gradient(circle 1750px at top center, #819922 6.2%, transparent 50%);
    }
    35% {
        background-image: radial-gradient(circle 1800px at top center, #819922 6%, transparent 50%);
    }
    36% {
        background-image: radial-gradient(circle 1850px at top center, #819922 5.8%, transparent 50%);
    }
    37% {
        background-image: radial-gradient(circle 1900px at top center, #819922 5.6%, transparent 50%);
    }
    38% {
        background-image: radial-gradient(circle 1950px at top center, #819922 5.4%, transparent 50%);
    }
    39% {
        background-image: radial-gradient(circle 2000px at top center, #819922 5.2%, transparent 50%);
    }


    40% {
        background-image: radial-gradient(circle 2000px at top center, #996d22 5%, transparent 50%);
    }
    41% {
        background-image: radial-gradient(circle 1950px at top center, #996d22 5.2%, transparent 50%);
    }
    42% {
        background-image: radial-gradient(circle 1900px at top center, #996d22 5.4%, transparent 50%);
    }
    43% {
        background-image: radial-gradient(circle 1850px at top center, #996d22 5.6%, transparent 50%);
    }
    44% {
        background-image: radial-gradient(circle 1800px at top center, #996d22 5.8%, transparent 50%);
    }
    45% {
        background-image: radial-gradient(circle 1750px at top center, #996d22 6%, transparent 50%);
    }
    46% {
        background-image: radial-gradient(circle 1700px at top center, #996d22 6.2%, transparent 50%);
    }
    47% {
        background-image: radial-gradient(circle 1650px at top center, #996d22 6.2%, transparent 50%);
    }
    48% {
        background-image: radial-gradient(circle 1600px at top center, #996d22 6.6%, transparent 50%);
    }
    49% {
        background-image: radial-gradient(circle 1550px at top center, #996d22 6.8%, transparent 50%);
    }
    50% {
        background-image: radial-gradient(circle 1500px at top center, #996d22 7%, transparent 50%);
    }
    51% {
        background-image: radial-gradient(circle 1600px at top center, #996d22 6.8%, transparent 50%);
    }
    52% {
        background-image: radial-gradient(circle 1650px at top center, #996d22 6.6%, transparent 50%);
    }
    53% {
        background-image: radial-gradient(circle 1700px at top center, #996d22 6.4%, transparent 50%);
    }
    54% {
        background-image: radial-gradient(circle 1750px at top center, #996d22 6.2%, transparent 50%);
    }
    55% {
        background-image: radial-gradient(circle 1800px at top center, #996d22 6%, transparent 50%);
    }
    56% {
        background-image: radial-gradient(circle 1850px at top center, #996d22 5.8%, transparent 50%);
    }
    57% {
        background-image: radial-gradient(circle 1900px at top center, #996d22 5.6%, transparent 50%);
    }
    58% {
        background-image: radial-gradient(circle 1950px at top center, #996d22 5.4%, transparent 50%);
    }
    59% {
        background-image: radial-gradient(circle 2000px at top center, #996d22 5.2%, transparent 50%);
    }

    60% {
        background-image: radial-gradient(circle 2000px at top center, #994122 5%, transparent 50%);
    }
    61% {
        background-image: radial-gradient(circle 1950px at top center, #994122 5.2%, transparent 50%);
    }
    62% {
        background-image: radial-gradient(circle 1900px at top center, #994122 5.4%, transparent 50%);
    }
    63% {
        background-image: radial-gradient(circle 1850px at top center, #994122 5.6%, transparent 50%);
    }
    64% {
        background-image: radial-gradient(circle 1800px at top center, #994122 5.8%, transparent 50%);
    }
    65% {
        background-image: radial-gradient(circle 1750px at top center, #994122 6%, transparent 50%);
    }
    66% {
        background-image: radial-gradient(circle 1700px at top center, #994122 6.2%, transparent 50%);
    }
    67% {
        background-image: radial-gradient(circle 1650px at top center, #994122 6.2%, transparent 50%);
    }
    68% {
        background-image: radial-gradient(circle 1600px at top center, #994122 6.6%, transparent 50%);
    }
    69% {
        background-image: radial-gradient(circle 1550px at top center, #994122 6.8%, transparent 50%);
    }
    70% {
        background-image: radial-gradient(circle 1500px at top center, #994122 7%, transparent 50%);
    }
    71% {
        background-image: radial-gradient(circle 1600px at top center, #994122 6.8%, transparent 50%);
    }
    72% {
        background-image: radial-gradient(circle 1650px at top center, #994122 6.6%, transparent 50%);
    }
    73% {
        background-image: radial-gradient(circle 1700px at top center, #994122 6.4%, transparent 50%);
    }
    74% {
        background-image: radial-gradient(circle 1750px at top center, #994122 6.2%, transparent 50%);
    }
    75% {
        background-image: radial-gradient(circle 1800px at top center, #994122 6%, transparent 50%);
    }
    76% {
        background-image: radial-gradient(circle 1850px at top center, #994122 5.8%, transparent 50%);
    }
    77% {
        background-image: radial-gradient(circle 1900px at top center, #994122 5.6%, transparent 50%);
    }
    78% {
        background-image: radial-gradient(circle 1950px at top center, #994122 5.4%, transparent 50%);
    }
    79% {
        background-image: radial-gradient(circle 2000px at top center, #994122 5.2%, transparent 50%);
    }

    80% {
        background-image: radial-gradient(circle 2000px at top center, #992e22 5%, transparent 50%);
    }
    81% {
        background-image: radial-gradient(circle 1950px at top center, #992e22 5.2%, transparent 50%);
    }
    82% {
        background-image: radial-gradient(circle 1900px at top center, #992e22 5.4%, transparent 50%);
    }
    83% {
        background-image: radial-gradient(circle 1850px at top center, #992e22 5.6%, transparent 50%);
    }
    84% {
        background-image: radial-gradient(circle 1800px at top center, #992e22 5.8%, transparent 50%);
    }
    85% {
        background-image: radial-gradient(circle 1750px at top center, #992e22 6%, transparent 50%);
    }
    86% {
        background-image: radial-gradient(circle 1700px at top center, #992e22 6.2%, transparent 50%);
    }
    87% {
        background-image: radial-gradient(circle 1650px at top center, #992e22 6.2%, transparent 50%);
    }
    88% {
        background-image: radial-gradient(circle 1600px at top center, #992e22 6.6%, transparent 50%);
    }
    89% {
        background-image: radial-gradient(circle 1550px at top center, #992e22 6.8%, transparent 50%);
    }
    90% {
        background-image: radial-gradient(circle 1500px at top center, #992e22 7%, transparent 50%);
    }
    91% {
        background-image: radial-gradient(circle 1600px at top center, #992e22 6.8%, transparent 50%);
    }
    92% {
        background-image: radial-gradient(circle 1650px at top center, #992e22 6.6%, transparent 50%);
    }
    93% {
        background-image: radial-gradient(circle 1700px at top center, #992e22 6.4%, transparent 50%);
    }
    94% {
        background-image: radial-gradient(circle 1750px at top center, #992e22 6.2%, transparent 50%);
    }
    95% {
        background-image: radial-gradient(circle 1800px at top center, #992e22 6%, transparent 50%);
    }
    96% {
        background-image: radial-gradient(circle 1850px at top center, #992e22 5.8%, transparent 50%);
    }
    97% {
        background-image: radial-gradient(circle 1900px at top center, #992e22 5.6%, transparent 50%);
    }
    98% {
        background-image: radial-gradient(circle 1950px at top center, #992e22 5.4%, transparent 50%);
    }
    99% {
        background-image: radial-gradient(circle 2000px at top center, #992e22 5.2%, transparent 50%);
    }
    100% {
        background-image: radial-gradient(circle 2000px at top center, #229933 5%, transparent 50%);
    }
}