.cert-section {
  @apply w-full h-auto bg-transparent pt-14 relative p-4;
  color: var(--body_color);
  @screen tablet {
    @apply pt-10;
  }

  &--main-font {
    @apply text-[2.5rem] text-center uppercase font-prompt;
  }

  &--body-font {
    @apply font-karla text-[1.125rem] min-w-fit mt-6;
  }

  &--details {
    @apply mt-4;
  }
}

.cert-slides {
  @apply w-auto min-w-[20rem] min-h-[15rem] rounded-lg mt-2 bg-transparent p-2;

  @screen tablet {
    @apply w-full min-h-[20rem];
  }

  @screen desktop {
    @apply w-full min-h-[30rem];
  }
}

.cert-slides-box {
  @apply w-auto min-w-[20rem] min-h-[15rem] rounded-lg mt-2 flex justify-center items-center p-2;
  color: var(--body_color);

  @screen tablet {
    @apply w-full min-h-[20rem];
  }

  @screen desktop {
    @apply w-full min-h-[30rem];
  }
}

.cert-bullet-div {
  @apply relative mt-4 mb-10;
}

.cert-sub-bullet-div {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.cert-pagination-div {
  display: flex !important;
  justify-content: center !important;
}

.cert-title {
  @apply text-center text-2xl font-karla rounded-t-md bg-[#F5C300] py-4 mt-6;
  color: var(--body_color);
}

.cert-slides-containers {
  @apply relative;

  &--first-font {
    @apply text-[1.625rem] font-karla  mt-1;
  }

  &--second-font {
    @apply text-[1.5rem] font-karla  mt-1;
  }

  &--third-font {
    @apply text-[1rem] font-karla  mt-1;
  }
}

.badge-button {
  @apply w-[6rem] p-[0.25rem] rounded-sm bg-[#F5C300] flex justify-center items-center mt-6;

  &:hover {
    @apply transition-all ease-in-out duration-700;
    background-color: var(--reverse_body_bg);
    color: var(--reverse_body_color);
  }
}
