.navbar {
  @apply text-lg bg-transparent sticky top-0 border-b-[1px] z-30 text-[#F5C300];
  border-color: transparent;

  &--scrolled {
    @apply border-transparent;
    background-color: var(--sub_body_background);
  }
}

.nav-container {
  @apply mx-auto max-w-[95%];

  @screen desktop {
    @apply max-w-[83rem] px-[3rem];
  }
}

.nav-links {
  @apply font-karla capitalize text-[#F5C300];

  &:hover {
    @apply first-line:transition-all ease-in-out duration-300 cursor-pointer;
  }
}

.desktop-nav {
  @apply hidden;

  @screen desktop {
    @apply flex items-center justify-between h-[5rem] transition-all duration-300 ease-out;
  }

  &--scrolled {
    @apply h-[4rem];
    // color: var(--body_color);
  }
}

.mobile-nav {
  @apply flex items-center justify-between h-[5rem] transition-all duration-300 ease-out;

  @screen desktop {
    @apply hidden;
  }

  &--scrolled {
    @apply h-[4rem];
    color: var(--body_color);
  }
}

.display-menu {
  @apply transition-all duration-300 ease-out w-full absolute border-b border-black min-h-screen;
  background-color: var(--body_background);

  @screen desktop {
    @apply hidden;
  }
}

.icon-light {
  @apply h-8 w-8 fill-black ml-[1rem] z-[3];
}

.icon-moon {
  @apply h-8 w-8 fill-black ml-[1rem] z-[3];
}

.burger-icon {
  @apply w-6 h-6 fill-[#F5C300];
}

.close-icon {
  @apply w-6 h-6 fill-[#F5C300];
}
