@import '../public/assests/fonts/Rubik/stylesheet.scss';

@import 'pages/mainpage';
@import 'components/navbar';
@import 'components/input';
@import 'components/cursor';
@import 'components/themeswitcher';
@import 'sections/header';
@import 'sections/aboutpage';
@import 'sections/certificates';
@import 'sections/project';
@import 'sections/contactform';
@import 'sections/projects';
@import 'sections/footer';